#buttonStatusBar{
    background-color: rgba(255, 255, 255, 0);
    border: none;

}

@media screen and (max-width: 600px) {
    .Principal{
        flex-direction: column;
        margin: 20px;
    }
    .Info{
        flex-direction: column-reverse;
    }
    .personagemDef{
        grid-template-columns: repeat(2, 1fr);
        margin: 5px;
    }
    .personagemDef p {

        width: auto;
        background-color: rgba(0, 0, 0, 0.692);
    }
    .status{
        position: absolute;
        top: 40px;
        display: none;
    }
    .statusOn{
        display: block;
        animation: ShowStatusBar 1s;
        left: 0;

    }
    .statusOff{
        display: none;
        animation: DeleteStatusBar 1s;
    }
    .personagemFoto{
        margin-bottom: 20px;
    }
    .form{
        width: auto;
        height: auto;
    }
    .addInfo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .inputForm{
        width: 350px;
        height: auto;
        padding: 5px;
    }
    .inputForm h1{
        margin: 5px;
    }
}
@keyframes ShowStatusBar{
    0%{
        transform: translateX(-200px);
    }
    100%{

        transform: translateX(0);
    }
    
}
@keyframes DeleteStatusBar{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200px);
    }
}
@media screen and (max-width: 1300px) {
    .Principal{
        flex-direction: column-reverse;
    }
    .main{
        width: 100%;
        margin: 0;
    }
    .status{
        width: auto;
    }
}